
  <aside class="sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
   <div class="sidebar-header" *ngIf="authService.isLoggedIn$ | async">
    <h2>Menu</h2>
  </div>

  <a class="item" (click)="navigateTo('/dashboard')" aria-label="Dashboard">
    <span class="icon">🏠︎</span>
    <span class="label">Dashboard</span>
  </a>

  <a class="item" (click)="navigateTo('/books')" aria-label="Books">
    <span class="icon">📖</span>
    <span class="label">Books</span>
  </a>

  <a class="item" (click)="navigateTo('/users')" aria-label="Users">
    <span class="icon">👥</span>
    <span class="label">Users</span>
  </a>

  <a class="item" (click)="navigateTo('/roles')" aria-label="Roles">
    <span class="icon">🔑</span>
    <span class="label">Roles</span>
  </a>

  <a class="item" (click)="navigateTo('/reports')" aria-label="Reports">
    <span class="icon">📈</span>
    <span class="label">Reports</span>
  </a>

  <div class="sidebar-separator">
   <hr class="dashed"/>
   <a class="item" (click)="logout()" aria-label="Logout">
    <span class="icon">➜</span>
    <span class="label">Logout</span>
  </a>
  </div>
</aside>
